{% extends "base.html" %}
{% block content %}

    <style type="text/css">
        .text {
            display: block;
            width: 60vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>

    <script type="text/javascript">
        function handleSpeech() {
            document.getElementById("speechText").style.visibility = "visible";
        }
    </script>

    <div class="content">
        <form action="{% url 'create_essay' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="choice">Choose variant:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="choice" value="Sentence_extraction" id="choice1" checked>
                    <label class="form-check-label" for="choice1">Sentence_extraction</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="choice" value="ML" id="choice2">
                    <label class="form-check-label" for="choice2">ML</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Keywords" name="keywords" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Keywords
                    </label>
                  </div>
            </div>

            <div class="mb-3">
                <label for="docTitle" class="form-label">Input document title</label>
                <input type="text" class="form-control" placeholder="Enter document title" name="Title">
            </div>

            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Choose files</label>
                <input class="form-control" type="file" id="formFileMultiple" name="File" accept=".txt" multiple>
            </div>

            <div style='visibility: hidden;' id='speechText'>Start recording... Stop words: stop speech(eng), стоп(ru)</div>

            <div class="btn-group">
                <button type="submit" name="Submit" class="btn btn-success">Create</button>

                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Speech
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li>
                        <button
                            class="dropdown-item"
                            type="submit"
                            name="StartRecord"
                            value="en-En"
                            type="button"
                        >
                            Start English speech
                        </button>
                    </li>
                    <li>
                        <button
                            class="dropdown-item"
                            type="submit"
                            name="StartRecord"
                            value="ru-Ru"
                            type="button"
                            onClick="handleSpeech()"
                        >
                            Start Russian speech
                        </button>
                    </li>
                </ul>
            </div>
            

        </form>

        {{error}}
        
        <br />

        {% if document %}
            <ul class="list-group">
                {% for article in document %}
                    <form action="{% url 'create_essay' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <li class="list-group-item">
                            <a href="{% url 'document_page' article.slug %}">{{ article.title }}</a><br>
                            <small class="text-muted text">Essay: {{ article.essay }}</small>
                            <small class="text-muted text">Keywords: {{ article.keywords }}</small><br/>
                            <button type="submit" class="btn btn-primary" name="Save" value="{{ article.title }}">Save</button>
                        </li>
                    </from>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
{% endblock %}