{% extends "base.html" %}
{% block content %}
    <div>

      <h1 style = "text-align:center">
          Help
      </h1>

      <div style = "text-align:end;">
        <form method="post">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit" name="Submit">
            Voice
          </button>
        </form>
      </div>

      </div>

        <p style = "text-align:center">
            Данное веб-приложение используется для нескольких видов операций: поиск, определение языка, реферирование.
            Первая операция - это информационно-поисковая система со стратегией логического поиска.
            Она позволяет находить документы по поиску через слова, находящиеся в этих документах.
            Существует два вида поиска: поиск по точно заданному слову и поиск по релевантности.
            Сам поиск осуществляется через ввод в форму слов, которые должны быть в желаемом документе
            и отправки этой формы по нажатию клавиши "Enter" или по нажатию кнопки "Найти".
            Весь список документов появляется на этой же странице.
            Сам список состоит из ссылки, по которой можно перейти на страницу самого документа, т.е. с полным его описанием,
            и краткой информации о релевантности и найденных терминах.
            Для поиска по релевантности список документов сортируется по возрастанию релевантности.
            Как дополнительный функционал для поиска по релевантности реализованы поиск по синонимам, исправление орфографических ошибок и
            поиск не учитывающий число слова.
            Также при поиске вычисляются основные метрики, позволяющие оценить качество работы информационно-поисковой системы.<br /><br />

            Вторая операция - это определение языка. Язык определяется между французским и английским языками (другие не поддерживаются).
            Для определения языка пользователью предоставлен выбор метода из трёх вариантов: метод N-грамм, алфавитный метод и нейросетевой метод.
            Выбрав метод пользователь должен ввести абсолютный путь к html файлу в поле ввода и отправить форму, нажав на кнопку "Check".
            После отправки формы, пользователь увидит результат определения языка и информацию о том, сколько времени заняла обработка.<br /><br />
            Также пользователю будет предоставлена возможность сохранить результат.

            Третья операция - это реферирование. Пользователь предоставлен выбор из двух методов, а именно "Sentence extraction" и "Machine Learning".
            Также пользователь может получить ключевые слова текста, отметив галочкой поле "Keywords".
            После выбора метода пользователь должен либо ввести имя уже существующего документа, либо загрузить документ из файла и отправить форму.
            Отправив форму пользователь увидит информацию о документе, содержащию в себе несколько строк реферата и ключевых слов(если они были выбраны),
            ссылку на документ и возможность сохранения реферата.
            При переходе по ссылке документа, пользователь попадёт на страницу документа, где увидит полный список ключевых слов(если они были выбраны),
            весь реферат и оригинальный текст.<br /><br />

            Для операций поиска и реферирования есть возможность речевого ввода. Для поиска пользователю сначала нужно выбрать язык речевого ввода:
            английский или русский. После выбора языка пользователь может говорить слова, которые он хочет найти и после этого сказать стоп-слово "стоп"
            для русского языка и "stop speech" для английского. Также есть возможность выбрать метод поиска используя речевой ввод. Он происходит следующим способом:
            пользователь должен сказать следующую фразу "вариант один/два найди {желаемые слова}" для русского языка и "variant one/two find {желаемые слова}" для английского языка.
            Речевой ввод для операции реферирование происходит таким же способом, только пользователь говорит слова не для поиска, а говорит название существующего
            документа. Для выбора метода пользователь должен сказать следующее:
            "вариант один/два добавь ключевые слова(если пользователь хочет добавить к.с.) название {название документа}" для русского языка
            и "variant one/two key(если пользователь хочет добавить к.с.) title {название документа}" для английского языка.<br /><br />

            Последняя операция - это синтез речи из текста. Для синтеза пользователю нужно ввести текст для озвучивания и отправить форму.
            У пользователя есть возможность ввести значения громкости, скорости воспроизведения и выбор голосов для английского текста и для русского текста. 
        </p>

        <h5 style = "text-align:center">Supported languages</h5>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Function</th>
                <th scope="col">Supported languages</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Search</td>
                <td>English</td>
              </tr>
              <tr>
                <td>Check language</td>
                <td>English, French</td>
              </tr>
              <tr>
                <td>Essay</td>
                <td>English, Italian</td>
              </tr>
            </tbody>
          </table>

        <div style="text-align:center">
            <image src='https://media.tenor.com/K5p4FSa0kUgAAAAi/help-northury.gif' />
        </div>

    </div>
{% endblock %}