{% extends "base.html" %}
{% block content %}
    <div>
        <h1 style = "text-align:center">Help</h1>
        <p style = "text-align:center">
            Данное веб-приложение является информационно-поисковой системой со стратегией логического поиска.</br>
            Оно позволяет находить документы по поиску через слова, находящиеся в этих документах.</br></br>
            Существует два вида поиска: поиск по точно заданному слову и поиск по релевантности.
            Сам поиск осуществляется через ввод в форму слов, которые должны быть в желаемом документе
            и отправки этой формы по нажатию клавиши "Enter" или по нажатию кнопки "Найти". </br>
            Весь список документов появляется на этой же странице.</br></br>
            Сам список состоит из ссылки, по которой можно перейти на страницу самого документа, т.е. с полным его описанием,
            и краткой информации о релевантности и найденных терминах. </br>
            Для поиска по релевантности список документов сортируется по возрастанию релевантности.
            Как дополнительный функционал для поиска по релевантности реализованы поиск по синонимам, исправление орфографических ошибок и
            поиск не учитывающий число слова.</br></br>
            Также при поиске вычисляются основные метрики, позволяющие оценить качество работы информационно-поисковой системы.</br>
        </p>
    </div>
{% endblock %}