{% extends "base.html" %}

{% block content %}

    <script type="text/javascript">
        function handleSpeech() {
            document.getElementById("speechText").style.visibility = "visible";
        }
    </script>

    <div class="container">
        <h1>Documents search</h1>

        <form action="{% url 'main_page' %}" method="get">
            <div class="form-group">
                <label for="choice">Choose variant:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="choice" value="1" id="choice1">
                    <label class="form-check-label" for="choice1">1. Search to find exact terms in documents</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="choice" value="2" id="choice2" checked>
                    <label class="form-check-label" for="choice2">2. Search with relevance</label>
                </div>
            </div>

            <div style='visibility: hidden;' id='speechText'>Start recording...</div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." name="query">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" name="Submit">Search</button>

                    <button
                        class="btn btn-warning dropdown-toggle"
                        type="button"
                        id="dropdownMenu2"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Speech
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li>
                            <button
                                class="dropdown-item"
                                type="submit"
                                name="StartRecord"
                                value="en-En"
                                type="button"
                                onClick="handleSpeech()"
                            >
                                Start English speech
                            </button>
                        </li>
                        <li>
                            <button
                                class="dropdown-item"
                                type="submit"
                                name="StartRecord"
                                value="ru-Ru"
                                type="button"
                                onClick="handleSpeech()"
                            >
                                Start Russian speech
                            </button>
                        </li>
                    </ul>
                </div>
            </div>   

        </form>

        {% if results %}
            <ul class="list-group">
                {% for article in results %}
                    <li class="list-group-item">
                        <a href="{% url 'document_page' article.slug %}">{{ article.title }}</a><br>
                        <small class="text-muted">Найденные термины: {{ article.terms }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if isDocuments %}
            <p>{{ isDocuments }}</p>
        {% endif %}

    </div>
{% endblock %}
