{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Поиск документов</h1>

    <form action="{% url 'main_page' %}" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Введите запрос" name="query">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Искать</button>
            </div>
        </div>
    </form>

    <!-- Здесь вы можете отобразить результаты поиска, если они будут доступны -->
</div>
{% endblock %}
