{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Поиск документов</h1>

        <form action="{% url 'main_page' %}" method="get">
            <div class="form-group">
                <label for="choice">Choose variant:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="choice" value="1" id="choice1">
                    <label class="form-check-label" for="choice1">Поиск по точному нахождению терминов в документах</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="choice" value="2" id="choice2">
                    <label class="form-check-label" for="choice2">Поиск с релевантностью</label>
                </div>
            </div>


            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." name="query">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>

        {% if results %}
            <ul class="list-group">
                {% for article  in results %}
                    <li class="list-group-item">
                        <a href="{% url 'document_page' article.slug %}">{{ article.title }}</a><br>
                        <small class="text-muted">Найденные термины: {{ article.terms }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Нет результатов поиска</p>
        {% endif %}

    </div>
{% endblock %}
